<div class="content-width">
  <h2 class="font-lg">水鳥図鑑</h2>
  <h3 class="left-align font-lg mb-md">PICK UP!</h3>
  <section id="pick-up">
    <div class="card shadow mb-sm">
      <%= image_tag 'img12.JPG', class: "card-img-top" %>
      <div class="card-block">
        <h4 class="card-title mt-sm">コハクチョウ</h4>
        <p class="card-text left-align pl-sm pr-sm">冬になるとツンドラ地帯から渡ってくる。家族との時間を大切にする。</p>
        <%= link_to "もっと詳しく", hakucho_path, class: "btn solid" %>
      </div>
    </div>
    <div class="card shadow mb-sm">
      <%= image_tag 'img03.JPG', class: "card-img-top" %>
      <div class="card-block">
        <h4 class="card-title mt-sm">コサギ</h4>
        <p class="card-text left-align pl-sm pr-sm">賢者。さまざまな方法で獲物を採る。黒いくちばしと黄色の足が特徴。</p>
        <%= link_to "もっと詳しく", kosagi_path, class: "btn solid" %>
      </div>
    </div>
    <div class="card shadow mb-sm">
      <%= image_tag 'img13.jpg', class: "card-img-top" %>
      <div class="card-block">
        <h4 class="card-title mt-sm">オシドリ</h4>
        <p class="card-text left-align pl-sm pr-sm">カモの中では変わり者。森で囲まれた水辺で暮らす。ドングリが好き。</p>
        <%= link_to "もっと詳しく", oshidori_path, class: "btn solid" %>
      </div>
    </div>
  </section>

  <h3 class="left-align font-lg mt-lg mb-md">春</h3>
  <section id="spring">

    <div class="card shadow mb-sm cursor" data-toggle="modal" data-target="#modal1">
      <%= image_tag 'karugamo.svg', class: "card-img-top" %>
      <div class="card-block">
        <h4 class="card-title mt-sm font-md center-align">カルガモ</h4>
      </div>
    </div>
    <%= render 'birds/karugamo' %>

    <div class="card shadow mb-sm cursor" data-toggle="modal" data-target="#modal2">
      <%= image_tag 'seitakashigi.svg', class: "card-img-top" %>
      <div class="card-block">
        <h4 class="card-title mb-sm font-md center-align">セイタカシギ</h4>
      </div>
    </div>
    <%= render 'birds/seitakashigi' %>

    <div class="card shadow mb-sm cursor" data-toggle="modal" data-target="#modal3">
      <%= image_tag 'murasakisagi.svg', class: "card-img-top" %>
      <div class="card-block">
        <h4 class="card-title mt-sm font-md center-align">ムラサキサギ</h4>
      </div>
    </div>
    <%= render 'birds/murasakisagi' %>

    <div class="card shadow mb-sm cursor" data-toggle="modal" data-target="#modal4">
      <%= image_tag 'medaichidori.svg', class: "card-img-top" %>
      <div class="card-block">
        <h4 class="card-title mt-sm font-md center-align">メダイチドリ</h4>
      </div>
    </div>
    <%= render 'birds/medaichidori' %>

  </section>

  <h3 class="left-align font-lg mt-lg mb-md">夏</h3>
  <section id="summer">

    <div class="card shadow mb-sm cursor" data-toggle="modal" data-target="#modal5">
      <%= image_tag 'kaitsuburi.svg', class: "card-img-top" %>
      <div class="card-block">
        <h4 class="card-title mt-sm font-md center-align">カイツブリ</h4>
      </div>
    </div>
    <%= render 'birds/kaitsuburi' %>

    <div class="card shadow mb-sm cursor" data-toggle="modal" data-target="#modal6">
      <%= image_tag 'sasagoi.svg', class: "card-img-top" %>
      <div class="card-block">
        <h4 class="card-title mt-sm font-md center-align">ササゴイ</h4>
      </div>
    </div>
    <%= render 'birds/sasagoi' %>

    <div class="card shadow mb-sm cursor" data-toggle="modal" data-target="#modal7">
      <%= image_tag 'shirochidori.svg', class: "card-img-top" %>
      <div class="card-block">
        <h4 class="card-title mt-sm font-md center-align">シロチドリ</h4>
      </div>
    </div>
    <%= render 'birds/shirochidori' %>

    <div class="card shadow mb-sm cursor" data-toggle="modal" data-target="#modal8">
      <%= image_tag 'yoshigoi.svg', class: "card-img-top" %>
      <div class="card-block">
        <h4 class="card-title mt-sm font-md center-align">ヨシゴイ</h4>
      </div>
    </div>
    <%= render 'birds/yoshigoi' %>

  </section>
  <h3 class="left-align font-lg mt-lg mb-md">秋</h3>
  <section id="autumn">

    <div class="card shadow mb-sm cursor" data-toggle="modal" data-target="#modal9">
      <%= image_tag 'umiu.svg', class: "card-img-top" %>
      <div class="card-block">
        <h4 class="card-title mt-sm font-md center-align">ウミウ</h4>
      </div>
    </div>
    <%= render 'birds/umiu' %>

    <div class="card shadow mb-sm cursor" data-toggle="modal" data-target="#modal10">
      <%= image_tag 'ozirotounen.svg', class: "card-img-top" %>
      <div class="card-block">
        <h4 class="card-title mt-sm font-md center-align">オジロトウネン</h4>
      </div>
    </div>
    <%= render 'birds/ozirotounen' %>

    <div class="card shadow mb-sm cursor" data-toggle="modal" data-target="#modal11">
      <%= image_tag 'kurosagi.svg', class: "card-img-top" %>
      <div class="card-block">
        <h4 class="card-title mt-sm font-md center-align">クロサギ</h4>
      </div>
    </div>
    <%= render 'birds/kurosagi' %>

    <div class="card shadow mb-sm cursor" data-toggle="modal" data-target="#modal12">
      <%= image_tag 'magan.svg', class: "card-img-top" %>
      <div class="card-block">
        <h4 class="card-title mt-sm font-md center-align">マガン</h4>
      </div>
    </div>
    <%= render 'birds/magan' %>

  </section>
  <h3 class="left-align font-lg mt-lg mb-md">冬</h3>
  <section id="autumn">

    <div class="card shadow mb-sm cursor" data-toggle="modal" data-target="#modal13">
      <%= image_tag 'kuina.svg', class: "card-img-top" %>
      <div class="card-block">
        <h4 class="card-title mt-sm font-md center-align">クイナ</h4>
      </div>
    </div>
    <%= render 'birds/kuina' %>

    <div class="card shadow mb-sm cursor" data-toggle="modal" data-target="#modal14">
      <%= image_tag 'hoozirogamo.svg', class: "card-img-top" %>
      <div class="card-block">
        <h4 class="card-title mt-sm font-md center-align">ホオジロガモ</h4>
      </div>
    </div>
    <%= render 'birds/hoozirogamo' %>

    <div class="card shadow mb-sm cursor" data-toggle="modal" data-target="#modal15">
      <%= image_tag 'mikoaisa.svg', class: "card-img-top" %>
      <div class="card-block">
        <h4 class="card-title mt-sm font-md center-align">ミコアイサ</h4>
      </div>
    </div>
    <%= render 'birds/mikoaisa' %>

    <div class="card shadow mb-sm cursor" data-toggle="modal" data-target="#modal16">
      <%= image_tag 'magamo.svg', class: "card-img-top" %>
      <div class="card-block">
        <h4 class="card-title mt-sm font-md center-align">マガモ</h4>
      </div>
    </div>
    <%= render 'birds/magamo' %>

  </section>
</div>
